*.nupkg
*.bak
*.suo
*.user
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
[Tt]umbs.db
*.dbmdl
*.dbproj.schemaview
*.schemaview
~*
_ReSharper.*/
StyleCop.Cache
*.pdb
*.dll
UserData/
.sonar/
sonar-project.properties
node_modules
packages/
Coderful.TestConfiguration/Reports/