<nav id="p0_l">
	<h2>Menu</h2>
	<ul class="nav nav-pills nav-stacked">
		<li>@Html.ActionLink("Home", MVC.Home.Index())</li>
	</ul>			 
	<h2>Layouts</h2>
	<ul class="nav nav-pills nav-stacked">
		<li>@Html.ActionLink("Layout #1", MVC.One.Index())</li>
		<li>@Html.ActionLink("Layout #2", MVC.Two.Index())</li>
	</ul>													
</nav>